.course-item {
  display: block;
  margin: 15px;
  padding: 10px;
  border-radius: 2px;
  background: #C09F80;
  box-shadow: 2px 2px 2px 2px rgba(46, 20, 25, 0.70);
}

.course-title{
  color: #76323F;
}

.course-description{
  color: black;
  font-size: 10px;
}

